body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        0deg,
        rgba(218, 218, 218, 1) 0%,
        rgba(158, 158, 158, 1) 35%,
        rgba(255, 255, 255, 1) 100%
    );
    font-family: "Roboto", sans-serif;
}

.box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.425);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.349);
    border-radius: 5px;
}

section {
    padding: 40px 0;
}